.browse-content {
    justify-content: center;
    display: flex;
    height: 607px;
    align-items: center;
    position: absolute;
    width: 100%;
    color: #fff
}

.blue-bkg {
    background: rgba(66, 163, 242, 0.45);
    height: 350px;
    width: 70%;
    border-radius: 0 0 0 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.filter-box {
    background: linear-gradient(
            179.24deg
            , #617CF6 64.54%, rgba(255, 255, 255, 0) 194.06%);
    height: 500px;
    z-index: 1;
    border-radius: 4px;
    width: 400px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-filter-box-layout {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
}

.top-filter-box-layout-left {
    width: 100%;
    text-align: left;
}

.from-filter {
    padding-bottom: 5px;
}

.to-filter {
    border-top: 0.3px #ffffff38 solid;
}

.switch-img {
    height: 30px;
    cursor: pointer;
}

.date-input {
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    padding: 5px;
    border-radius: 40px;
    color: white;
    /*font-weight: bold;*/
    font-size: 15px;
    padding-left: 10px;
    width: 145px;
}

.boarding-date-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boarding-date-title {
    font-size: 14px;
    margin-bottom: 15px;
    color: #CCCCCC;
}

.searchContainer {
    display: flex;
    padding-bottom: 35px;
    justify-content: center;
}
.searchButton {
    padding: 10px;
    border: 1px #ffffff45 solid;
    border-radius: 50px;
    background-color: #ffffff1c;
}

.passengers {
    display: flex;
    align-items: center;
}

.passengers img {
    cursor: pointer;
    height: 24px;
}

.passengersAccount {
    margin: 0 15px;
    font-size: 14px;
    width: 60px;
}

.passengersAccountNumber {
    margin-right: 5px;
    font-size: 21px;
}

.flightCube {
    width: 25%;
    height: 150px;
    margin: 3%;
    min-width: 300px;
    padding: 1%;
    display: inherit;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px -4px #24394a;
    text-align: center;
    border-radius: 10px;
    color: #24394a;
}

.airlineName {
    border-bottom: 1px #0000001c solid;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.airlineName:hover {
    color: #627ef7;
}

.flightsContainer {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.flightCubeLayout {
    height: 100%;
    display: flex;
    width: 100%;
}

.flightCubeLeft {
    width: calc(100% - 100px);
    margin-right: 20px;
}

.flightCubeRight {
    width: 100px;
    display: flex;
    align-items: center;
}

.flightLine {
    position: relative;
    display: block;
    width: 90%;
    height: .125rem;
    margin: .375rem auto;
    padding: 0;
    border-radius: .375rem;
    background-color: #24394a;
    line-height: 0;
    text-align: center;
}

.arrowImg {
    height: 11.7px;
    margin-left: -4px;
}

.destAirport {
    width: 33%
}
.sourceAirport {
    width: 33%
}

.flightLineContainer {
    display: flex;
    align-items: center;
    width: 33%;
}

.noResult {
    text-align: center;
    padding: 50px;
    color: rgba(0,0,0,0.5);
    font-size: 20px;
}